.right-column_type_lead {
  padding-top: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .right-column_type_lead {
    padding-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  .right-column_type_lead {
    padding-top: 0;
  }
}
