.lead__avatar {
  margin-top: 200px;
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}

@media screen and (min-width: 1280px) {
  .lead__avatar {
    max-width: 250px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__avatar {
    max-width: 230px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__avatar {
    max-width: 180px;
    margin-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  .lead__avatar {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 180px;
  }
}
