.button__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: transform 1s linear;
}

.button__link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .button__link {
    font-size: 12px;
  }
}

