.right-column__table{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(3, 50px);
    column-gap: 140px;
    row-gap: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 620px;
}