.right-column__table {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: repeat(3, 50px);
  column-gap: 140px;
  row-gap: 10px;
  margin: 0 auto;
  max-width: 620px;
}

@media screen and (max-width: 490px) {
  .right-column__table {
    column-gap: 0;
    grid-template-columns: 200px;
    width: 90%;
    max-width: 200px;
  }
}

@media screen and (min-width: 490px) and (max-width: 1024px) {
  .right-column__table {
    column-gap: 40px;
    max-width: 440px;
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .right-column__table {
    column-gap: 100px;
    max-width: 500px;
    grid-template-columns: repeat(2, 200px);
  }
}
