.left-column__title {
  font-size: 22px;
  font-weight: 500;
  margin: 90px 40px 0 auto;
  max-width: 200px;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .left-column__title {
    margin: 90px auto 30px auto;
    text-align: start;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .left-column__title {
    font-size: 20px;
  }
}


