.right-column__table_type_advanced {
  grid-template-rows: repeat(3, 50px);
  margin-bottom: 40px;
}

@media screen and (max-width: 490px) {
  .right-column__table_type_advanced {
    grid-template-rows: repeat(6, 50px);
  }
}
