.header__lang-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .header__lang-buttons {
    margin-right: 40px;
    margin-left: auto;
  }
}
