.footer__contact {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  .footer__contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer__contact {
    display: none;
  }
}
