.right-column__link {
  text-decoration: none;
  color: #939393;
  font-size: 22px;
  transition: color 1s ease;
  margin: auto;
  text-align: center;
}

.right-column__link:hover {
  color: #f8bb10;
  text-decoration: underline;
}

@media screen and (max-width: 490px) {
  .right-column__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 490px) and (max-width: 1024px) {
  .right-column__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .right-column__link {
    font-size: 18px;
  }
}
