.button__link_type_lead {
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button__link_type_lead {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .button__link_type_lead {
    font-size: 14px;
  }
}
