.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  background-color: #ffffff;
  padding: 0 40px;
}

@media screen and (max-width: 490px) {
  .footer {
    padding: 0 20px;
  }
}
