.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    min-width: 1440px;
    min-height: 85px;
    background-color: #FFFFFF;
}