.lead__title {
  font-size: 62px;
  font-weight: 500;
  margin: 0;
  max-width: 700px;
  animation: appearance 2s 1 both;
  text-align: start;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 490px) {
  .lead__title {
    font-size: 24px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (min-width: 490px) and (max-width: 768px) {
  .lead__title {
    font-size: 34px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__title {
    font-size: 44px;
    max-width: 500px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__title {
    font-size: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    font-size: 58px;
  }
}
