.header__menu {
  display: none;
  background-image: url(../../../images/Vector.svg);
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
  width: 28px;
  height: 17px;
  cursor: pointer;
  transition: opacity 1s linear;
}

.header__menu:hover {
  opacity: 0.5;
}

.header__menu:focus {
  border: none;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: block;
    background-color: #fff;
  }
}
