.right-column__text_type_experience {
  font-size: 18px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .right-column__text_type_experience {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .right-column__text_type_experience {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .right-column__text_type_experience {
    max-width: 220px;
  }
}
