.lead__button{
    background-color: #F8BB10;
    width: 180px;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 1s linear;
    margin-top: 50px;
    margin-bottom: 200px;
}

.lead__button:focus{
    outline: none;
}

.lead__button:hover{
    background-color: #939393;
}